build_info.txt

monitoring/mongodb_exporter/mongodb_exporter
monitoring/blackbox_exporter/blackbox_exporter

## python specific
*.pyc

# env
*.env

stackdriver.json

bugged-code

united.yml
*.env_*

kubernetes/kubespray

#terraform settings
*.tfvars
.terraform*
terraform.tfstate*
