version: '3.3'
services:

  node-exporter:
    image: prom/node-exporter:latest
    user: root
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points="^/(sys|proc|dev|host|etc)($$|/)"'
    networks:
      mgmt_net:
        aliases:
          - node-exporter-dmz

  post_db:
    image: mongo:3.2
    volumes:
      - post_db:/data/db
    command: [ "--bind_ip", "post_db-back" ]
    networks:
      back_net:
        aliases:
          - post_db-back
          - comment_db-back
      mgmt_net:
        aliases:
          - post_db-dmz

  mongodb-exporter:
    image: ${DOCKER_USERNAME}/mongodb-exporter:${MONGODB_EXPORTER_VERSION}
    command: ["-mongodb.uri", "post_db-back"]
    networks:
      back_net:
      mgmt_net:
        aliases:
          - mongodb-exporter-dmz

  ui:
    image: ${DOCKER_USERNAME}/ui:${UI_VERSION}
    ports:
      - ${UI_PORT}:${UI_PORT}/tcp
    networks:
      mgmt_net:
        aliases:
          - ui-dmz

  post:
    image: ${DOCKER_USERNAME}/post:${POST_VERSION}
    environment:
      - POST_DATABASE_HOST=post_db-back
    networks:
      back_net:
      front_net:
        aliases:
          - post
      mgmt_net:
        aliases:
          - post-dmz

  comment:
    image: ${DOCKER_USERNAME}/comment:${COMMENT_VERSION}
    environment:
      - COMMENT_DATABASE_HOST=comment_db-back
    networks:
      back_net:
      front_net:
        aliases:
          - comment
      mgmt_net:
        aliases:
          - comment-dmz

  blackbox-exporter:
    image: ${DOCKER_USERNAME}/blackbox-exporter:${BLACKBOX_EXPORTER_VERSION}
    command:
      - '--config.file=/etc/blackbox_exporter/config.yml'
      - '--web.listen-address=blackbox-exporter-dmz:9115'
    networks:
      front_net:
      mgmt_net:
        aliases:
          - blackbox-exporter-dmz

  prometheus:
    image: ${DOCKER_USERNAME}/prometheus:${PROMETHEUS_VERSION}
    ports:
      - '9090:9090'
    networks:
      front_net:
      mgmt_net:

volumes:
  post_db:

networks:
  front_net:
  back_net:
  mgmt_net:
